html {
  min-height: 100%;
}

body {
  background-color: var(--background-white);
  min-height: 100vh;
  font-family: 'Spectral';
  font-weight: 300; /* if you want the light version */
  color: var(--black);
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 400;
  font-size: 30px;
  /*line-height: 2;*/
  color: var(--red);
}

h2 {
  font-family: 'Poppins';
  font-size: 20px;
  /*line-height: 1.8;*/
  color: var(--black);
}

h3 {
  font-family: 'Poppins';
  font-size: 20px;
  /*line-height: 1.8;*/
  color: var(--black);
}

a {
  text-decoration: none;
  /*box-shadow: none;*/
}

a:link, a:visited,  a:hover, a:active {
  text-decoration: none;
  /*box-shadow: none;*/
}

strong {
  font-weight:  bold;
}

#hand-coursor {
  cursor: pointer;
}


.main-container {
  display: grid;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

.section {
  margin: 20px;
}

.section-long {
  background-color: var(--light-blue);
  margin: 20px 0px 20px 0px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.section-long i {
  z-index: 1;
  color:  black;
  margin-bottom: 15px;
}

.section-long p {
  margin-bottom:  0px;
  text-align: center;
}

.section-long-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}


/*.section-alert {
  border: 2px solid black;
}
*/

.section-border {
  margin: 20px;
  border: 2px solid black;
}

/*Smallest device*/
@media (max-width: 575px) {
  .section-long {
    flex-direction: column;
    row-gap:  20px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .section-long {
    flex-direction: column;
    row-gap:  20px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .section-long {
    flex-direction: row;
    column-gap:  20px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .section-long {
    flex-direction: row;
    column-gap:  20px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .section-long {
    flex-direction: row;
    column-gap:  20px;
  }
}
